<body oncontextmenu="return false;">
		<div class="col-full top top2">
			<div class="col-logo2">
				<img class="logo" src="{{Wah}}" alt="WAH Logo">
			</div>
			<div class="titlebar">
				<p class="title2">{{title}}</p>
				<br>
				<p class="title2">sa aming serbisyo?</p>
			</div>
			<div class="col-logo2">
				<img class="logo logo3" src="{{LGU}}" alt="LGU.png">
			</div>
		</div>
		<a routerLink="/thanks" routerLinkActive="active">
			<button type="button" class="col-pic category">
				<img class="categorypic" src="{{Time}}" alt="Time pic">
				<p class="categorytxt">Bilis/</p>
				<br>
				<p class="categorytxt categorytxt2">Speed</p>
			</button>
		</a>
		<a routerLink="/thanks" routerLinkActive="active">
			<button type="button" class="col-pic category">
				<img class="categorypic" src="{{Staff}}" alt="Staff pic">
				<p class="categorytxt">Empleyado/</p>
				<br>
				<p class="categorytxt categorytxt2">Staff</p>
			</button>
		</a>
		<a routerLink="/thanks" routerLinkActive="active">
			<button type="button" class="col-pic category">
				<img class="categorypic" src="{{Facility}}" alt="Facility pic">
				<p class="categorytxt">Pasilidad/</p>
				<br>
				<p class="categorytxt categorytxt2">Facility</p>
			</button>
		</a>
</body>