<body oncontextmenu="return false;">
	<div class="col-full top">
		<div class="col-logo">
				<img class="logo" src="{{Wah}}" alt="WAH.png">
		</div>
		<div class="center titlebar">
			<p class="title">END OF SURVEY</p>
		</div>
		<div class="col-logo">
				<img class="logo logo2" src="{{LGU}}" alt="LGU.png">
		</div>
	</div>
		<p class="thank center">Maraming Salamat po.</p>
		<p class="credit center">Ito ay hatid ng:</p>
		
	<div class="center wah">
			<img class="col-pic TSUlogo center" src="{{TSU}}" alt="TSU Logo">
	</div>

	<div class="center wah">
			<img class="col-pic officiallogo center " src="{{Logo}}" alt="WAH Logo">
	</div>

	<div class="center wah">
			<img class="col-pic LGUlogo center " src="{{LGU}}" alt="LGU Logo">
	</div>
</body>			